/* .header{
  text-align: center;
}
.add {
  width: 380px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  background-color: aquamarine;
  border-radius: 0.2cm;
}
.Todo{
  display: flex;
  align-items: center;
}
.TodoIncomplete {
  width: 400px;
  height: auto;
  margin: 10px 10px 10px 10px;
  border:2px solid #15c863;
  border-radius: 0.2cm;
}
.TodoComplete {
  width: 400px;
  height: auto;
  margin: 10px 10px 10px 10px;
  border:2px solid #15c863;
  background-color: aquamarine;
  border-radius: 0.2cm;
} */